header{
background-color: #383D58;
color: white;
  display:flex;
  justify-content: space-around;
  padding: 25px 0;
}

.cabecalho-imagem {
   width: 30%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 19px;
    padding: 10px 0;
    font-size: 26px;
}

* {
    margin: 0;
    padding: 0;
}
